<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interactive Great War Guide</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
    <link rel="manifest" href="images/icons/site.webmanifest">
    <link rel="mask-icon" href="images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="javascripts/ajax.js"></script>
    <script src="javascripts/data-store.js"></script>
    <script src="javascripts/page.js"></script>    
    <script src="javascripts/slideshow-manager.js"></script>
    <script src="javascripts/quiz-manager.js"></script>
    <script src="javascripts/heroes-manager.js"></script>
    <script src="javascripts/admin-manager.js"></script>
    <script src="javascripts/content-loader.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/app.js"></script>
</head>
<body>
    <div class="content" id="content">
        <header>
            <h1>Interactive Great War Guide</h1>
        </header>
        <nav>
            <h2>Navigation</h2>
            <div id="menu-content"></div>
        </nav>
        <div id="main-content"></div>
        <footer>
            <br>
            <div>Copyright Alex McBride &copy; 2018</div>
            <br>
            <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </footer>
    </div>
</body>
</html>